.header-top {
    display: flex;
}

.header .header-top {
    /* display: none; */
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #E6EAEA;
}

.header {
    line-height: 73px;
    font-size: 13px;
    font-weight: 400;
}

.header .header-top *,
.header .header-main * {
    flex-shrink: 0;
}

.header .header-top,
.header .header-main {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid #E6EAEA;
}

.header .header-top .left-content,
.header .header-main .left-content {
    display: inline-flex;
}

.header .header-top .left-content .language {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 12px;
    padding: 0 22px;
}

.header .header-main .left-content .menu {
    height: 70px;
    display: flex;
    align-items: center;
    border-right: 1px solid #E6EAEA;
    cursor: pointer;
    padding: 0 22px;
}

.header .header-main .left-content .search {
    display: flex;
    align-items: center;
    align-items: center;
    cursor: pointer;
    padding: 0 16px;
}

.header .header-main .left-content .search img {
    height: 16px;
    width: 16px;
}

.header .header-main .left-content .menu img {
    height: 13px;
    width: 13px;
}

.header .header-main .left-content .menu span {
    line-height: 1.5;
    text-transform: uppercase;
    margin-left: 12px;
}

.header .header-top .center-content .slogan {
    font-size: 16px;
    font-weight: 400;
}

.header .header-top .center-content,
.header .header-main .center-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header .header-main .center-content .logo {
    width: 140px;
}

.header .header-main .center-content .logo img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.header .header-top .right-content .social-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0 22px 0 0;
}

.header .header-top .right-content .social-list li {
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header .header-top .right-content .social-list li a img {
    height: 20px;
}

.header .header-top .right-content,
.header .header-main .right-content {
    display: flex;
}

.header .header-main .right-content a,
.header .header-main .right-content label {
    height: 100%;
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin: 0;
    position: relative;
    left: 0;
    padding: 0 30px;
}

.header .header-main .right-content a.submit {
    background-color: #42AB9E;
    color: white;
}

.header .header-main>.box-right-main {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.item-login img {
    width: 150px;
    height: 50px;
    display: block;
    position: absolute;
    top: 21px;
    left: 50%;
    /* width: auto;
        height: 23px; */
    line-height: normal;
}

.block {
    position: relative;
    padding: 50px 0;
    display: block;
}

.inner {
    position: relative;
    width: 1905px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 66px;
    padding-right: 66px;
    clear: both;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f4f7f6;
}

.main-content {
    position: relative;
    width: 100%;
}

.main-content * {
    box-sizing: border-box;
}


/* .main-content .card-container {} */

.main-content .card-container .card-row {
    margin: 32px 0 64px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    padding: 0 5%;
}

.main-content .card-container .card-row .card {
    min-width: 280px;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 370px;
    background-color: white;
    margin-bottom: 24px;
}

.main-content .card-container .card-row .card .image {
    position: relative;
    width: 100%;
    height: 300px;
}

.main-content .card-container .card-row .card .image img {
    width: 100%;
    height: 100%;
}

.main-content .card-container .card-row .card .text-content {
    padding: 22px;
    height: 130px;
}

.footer {
    background-color: white;
}

.footer .content-1,
.footer .content-2 {
    padding: 0 5%;
}

.footer .content-1 {
    padding: 72px 5%;
}

.footer .content-1 .info {
    font-size: 18px;
    margin-bottom: 36px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

.footer .content-1 .info a {
    color: black;
    font-weight: 600;
}

.footer .content-1 .social {
    display: flex;
    font-size: 14px;
}

.footer .content-1 .social a {
    color: black;
    margin: 0 0 0 8px;
    text-decoration: none;
    font-weight: 300;
}

.footer .content-1 .links {
    display: flex;
    font-size: 14px;
    margin-bottom: 36px;
}

.footer .content-1 .links a:first-of-type {
    margin-left: 0;
}

.footer .content-1 .links a {
    color: black;
    margin: 0 12px;
    text-decoration: none;
    font-weight: 600;
}

.footer .content-2 {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 26px 5%;
}

.footer .content-2 .links {
    display: flex;
}

.footer .content-2 .links a {
    text-decoration: none;
    color: gray;
    margin: 0 12px;
}

.footer .content-2 .links a:first-of-type {
    margin-left: 0;
}

.footer .content-2 .credits {
    color: gray;
}

.footer .content-2 .credits a {
    color: black;
    text-decoration: none;
}

.from p {
    color: gray;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* body {
    background: #175690;
    font-family: 'open sans', sans-serif;
} */

.forms {
    background: #fff;
    box-shadow: 0 0 3px #000;
    margin: 30px auto;
    max-width: 500px;
    overflow: hidden;
    position: relative;
    padding: 0;
}

.forms h1 {
    padding: 0 0 20px 0;
    font-size: 26px;
    color: #666;
    font-weight: lighter;
    text-align: center;
}

.forms form {
    padding: 30px;
}

#signup {
    display: none;
}

.forms .tab-group {
    list-style: none;
    padding: 0;
    margin: 0;
}

.forms .tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.forms .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: #e5e6e7;
    color: #888;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    border-top: 3px solid transparent;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.forms .tab-group li a:hover {
    background: #dedfdf;
    color: #666;
}

.forms .tab-group .active a {
    background: #fff;
    color: #444;
    border-top: 3px solid #73cf41;
}

.forms input {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ddd;
    color: #666;
    border-radius: 0;
    margin-bottom: 10px;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.forms input:focus {
    outline: 0;
    border-color: #2e5ed7;
}

.forms label {
    font-size: 16px;
    font-weight: normal;
    color: #666;
    margin-bottom: 5px;
    display: block;
}

.forms .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #73cf41;
    color: #ffffff;
    cursor: pointer;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.forms .button:hover,
.button:focus {
    background: #56ae26;
}

.text-p {
    text-align: right;
}

.text-p a {
    color: #1383ea;
}

#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}

.video {
    /* background-image: url('https://img.youtube.com/vi/nZcejtAwxz4/maxresdefault.jpg'); */
    height: 330px;
    width: 600px;
    margin-bottom: 20px;
}

video::-webkit-media-controls {
    display: none !important;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.content1 {
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    height: 500px;
    width: 500px;
    border: 1px solid #888;
    align-content: center;
}

#replay {
    height: inherit;
    width: inherit;
}

#videoreplay {
    height: inherit;
    width: inherit;
}

.content2 {
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    height: 500px;
    width: 500px;
    border: 1px solid #888;
    align-content: center;
}


/* #replay1 {
    height: inherit;
    width: inherit;
}

.content2 {
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    height: 500px;
    width: 500px;
    border: 1px solid #888;
    align-content: center;
}

#happy {
    height: inherit;
    width: inherit;
}

.modal-content3 {
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    height: 500px;
    width: 500px;
    border: 1px solid #888;
    align-content: center;
} */

.modal1 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h3 {
    font-family: Calibri;
    font-size: 25pt;
    font-style: normal;
    font-weight: bold;
    color: SlateBlue;
    text-align: center;
    text-decoration: underline
}

table {
    font-family: Calibri;
    color: white;
    font-size: 11pt;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    background-color: rgb(114, 43, 31);
    width: 80%;
    height: 80%;
}

#myBtn {
    width: 100px;
    color: lightslategrey;
}